.vscode/**
.vscode-test/**
out/test/**
src/**
!src/webview/index.html
!src/webview/lib/**
.gitignore
.vscodeignore
tsconfig.json
package-lock.json
vsc-extension-quickstart.md
.env
.env.example
*.vsix
implementation_plan*.md
task*.md
walkthrough*.md
node_modules/**
